body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('fondo.jpg'); /* Reemplázalo por la imagen de fondo deseada */
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex; /* Diseño flexible */
  flex-direction: row; /* Alinear elementos en fila */
  align-items: center;
  justify-content: flex-start; /* Elementos alineados a la izquierda */
  background-color: #003366; /* Azul UDGVirtual */
  padding: 20px;
  color: #FFFFFF;
}

header img {
  height: 50px; /* Tamaño del logo */
  margin-right: 15px; /* Separación entre el logo y el título */
}

header h1 {
  color: #FFFFFF; /* Título en blanco */
  text-align: left; /* Alinear a la izquierda */
  margin: 0; /* Sin márgenes */
}

.udg-virtual-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear elementos a la izquierda */
  margin: 20px 0; /* Separación de otros elementos */
}

.udg-virtual-logo img {
  max-width: 300px; /* Tamaño máximo del logo */
  height: auto;
  margin-bottom: 10px;
}

.descripcion-web {
  text-align: left;
  font-size: 16px;
  color: #003366; /* Azul marino */
  font-weight: bold;
}

h2 {
  text-align: left;
  color: #003366;
  margin: 20px 0;
}

.content a {
  text-align: left;
  display: block;
  margin-top: 5px;
  color: #003366;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

footer {
  background-color: #003366;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

.footer-content {
  margin-top: 20px;
}

.content {
  padding: 20px;
}

.buttons button {
  margin-right: 10px;
  background-color: #FFCC00; /* Amarillo UDGVirtual */
  border: none;
  padding: 10px;
  color: #003366; /* Azul marino */
  cursor: pointer;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: #003366;
  color: #FFCC00;
}

.registros-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #003366;
  border-radius: 5px;
  background-color: #f0f8ff;
  max-height: 300px;
  overflow-y: auto;
}

.registros-container ul {
  list-style-type: none;
  padding: 0;
}

.registros-container li {
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #003366;
}
