body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondo.jpg'); /* Reemplázalo por la imagen de fondo deseada */
    background-size: cover;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF; /* Fondo blanco */
    padding: 15px;
    color: #003366; /* Azul marino para el texto */
    box-shadow: 0px 4px 6px #003366; /* Sombra azul */
  }
  
  header img {
    height: 40px; /* Tamaño pequeño */
  }
  
  footer {
    background-color: #003366; /* Azul marino UDGVirtual */
    color: #FFFFFF; /* Blanco */
    text-align: center;
    padding: 10px;
  }
  
  .footer-content {
    margin-top: 20px;
  }
  
  .content {
    padding: 20px;
  }
  
  .buttons button {
    margin-right: 10px;
    background-color: #FFCC00; /* Amarillo UDGVirtual */
    border: none;
    padding: 10px;
    color: #003366; /* Azul marino para el texto */
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buttons button:hover {
    background-color: #003366; /* Cambio de fondo al azul marino al pasar el cursor */
    color: #FFCC00; /* Cambio de texto al amarillo */
  }