.buttons {
  margin-bottom: 20px;
}

.buttons input, .buttons button {
  margin: 5px 5px 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.buttons input {
  width: 150px;
}

.buttons button {
  background-color: #FFCC00;
  color: #003366;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #003366;
  color: #FFCC00;
}
.registro-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.edit-btn,
.delete-btn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
}

.edit-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.delete-btn:hover {
  background-color: #da190b;
}
