body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('fondo.jpg');
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  background-color: #003366;
  padding: 20px;
  color: #fff;
}

header img {
  height: 50px;
  margin-right: 15px;
}

.udg-virtual-logo {
  margin: 20px 0;
}

.descripcion-web {
  font-weight: bold;
  color: #003366;
}

.buttons {
  margin-bottom: 20px;
}

.buttons input, .buttons button {
  margin: 5px 5px 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.buttons input {
  width: 150px;
}

.buttons button {
  background-color: #FFCC00;
  color: #003366;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #003366;
  color: #FFCC00;
}

.registros-container {
  margin-top: 20px;
  background: #f0f8ff;
  padding: 10px;
  border: 1px solid #003366;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
}

.registro-item {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registro-item button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.registro-item button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #003366;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}
